@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
h2{
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
}
p{
    color: rgb(92, 92, 92);
    font-family: 'Work Sans', sans-serif;
}
input{
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
}
@media screen and (max-width: 425px) {
h2{
    text-align: center;
    margin: 9%;
}
p{
    text-align: center;
    margin: 0 10% 5% 10%;
}
img{
    width: 80%;
    margin: 3%;
    
}
.background{
    background-image: url("mob.png");
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.container{
    background:rgba(255, 255, 255, 0.459);
    position:absolute;
    top:13%;
    right:0px;
    bottom:0px;
    left:0px;
    text-align: center;
}
input[type=text], input[type=email], input[type=submit]{
    margin: 1%;
    width: 70%;
    background: none;
}
input[type=submit]{
    border: black solid 1px;
    padding: 5% 0;
    font-weight: bold;
    font-size: 100%;
    border-radius: 0;
}
input[type=text], input[type=email]{
    border: none;
    border-bottom: black solid 1px;
    padding: 5%;
}
::placeholder{
    color:black;
}
}
@media screen and (min-width: 426px) and (max-width: 768px){
h2{
    margin-bottom: 3%;
}
p {
    margin-bottom: 5%;
}
img{
    width: 50%;
    margin: 35px 8%;
}
.background{
    background-image: url("tab.png");
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.container{
    background:rgba(255, 255, 255, 0.459);
    position:absolute;
    top:20%;
    right:0px;
    bottom:5%;
    left:0px;
    padding: 10% 8%;
}
.form-flex{
    margin-right: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.name{
    display: flex;
    width: 49%;
    margin-bottom: 5%;
}
.email{
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}
.text{
    display: flex;
    width: 49%;
    margin-bottom: 5%;
}
.submit{
    display: flex;
    width: 50%;
}
input[type=text], input[type=email], input[type=submit]{
    width: 100%;
    background: none;
    border-radius: 0;
}
input[type=submit]{
    border: black solid 1px;
    font-size: 100%;
    padding: 5%
}
input[type=text], input[type=email]{
    border: none;
    border-bottom: black solid 1px;
}
::placeholder{
    color:black;
}   
}
@media screen and (min-width: 769px) {
img{
    width: 30%;
    margin: 35px 8%;
}
.background{
    background-image: url("des.png");
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.container{
    margin: 0 45% 0 5%; 
}
h2{
    font-size: 6vh;
    margin-bottom: 4%;
}
p{
    margin-bottom: 5%;
    font-weight: bold;
}
.form-flex{
    margin-right: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.name{
    display: flex;
    width: 49%;
    margin-bottom: 5%;
}
.email{
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}
.text{
    display: flex;
    width: 49%;
    margin-bottom: 5%;
}
.submit{
    display: flex;
    width: 50%;
}
input[type=text], input[type=email], input[type=submit]{
    width: 100%;
    background: none;
    border-radius: 0;
}
input[type=submit]{
    border: black solid 1px;
    font-size: 100%;
    padding: 5%
}
input[type=text], input[type=email]{
    border: none;
    border-bottom: black solid 1px;
}
::placeholder{
    color:black;
}   
}